{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "react": {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      },
      "decoratorMetadata": true
    },

    "target": "es2022",
    "paths": {
      "$src/*": ["./src/*"]
    }
  },
  "minify": false,
  "sourceMaps": false
}
